@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary{
    --bg-color:#b0b5bd;
    --container-color: #f8f8f8;
    --title-color: #0B0A0A;
    --text-color:#585050;
    --border-color:#887c7c;
    --field-bg-сolor:#DFDADA;
    --field-text-color:#0B0A0A;
    --btn-primary-bg-color: #2A75DB;
    --btn-primary-text-color: #F8F8F8;
    --btn-secondary-bg-color:#F8F8F8;
    --btn-secondary-text-color: #205EB0;
    --link-footer-color:#205EB0;
}

.secondary{
    --bg-color:#0c0d0d;
    --container-color: #1e1d1d;
    --title-color: #F3F3F3;
    --text-color:#DFDADA;
    --border-color:#887c7c;
    --field-bg-сolor:#585050;
    --field-text-color:#F3F3F3;
    --btn-primary-bg-color: #B9D5FC;
    --btn-primary-text-color: #1E1D1D;
    --btn-secondary-bg-color:#424242;
    --btn-secondary-text-color: #AAC9F1;
    --link-footer-color:#AAC9F1;
}

body{
    background: var(--bg-color); 
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    color: var(--text-color);
}

.container{
    margin-top: 32px;
    max-width: 1024px;
    margin: 0 auto;
    background: var(--container-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form{
    margin: 32px;
}

.form__title{
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 4px;
}

.form__fields{
    margin-top: 32px;
    width: 320px;   
   
}

.field__item{
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-between;
}

.field__text{
    cursor: pointer;
 
}

.field__input,
.field__select{
    border: none;
    width: 196px;
    height: 32px;
    background: var(--field-bg-сolor);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 6px;
    padding: 8px ;
    cursor: pointer;
}

.field__select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(image/arrow.png);
    background-repeat: no-repeat;
    background-position: 95% center;
}

.field__group{
    display: flex;
    align-items: center;
    width: 196px;
    gap: 12px
}

.field__group__input{
    width: 47px;
}

.field__theme-selector{
    display: flex;
    width: 196px;
    flex-direction: column;
    justify-content: start;
}

.theme-selector{
    justify-self: start;
}

.theme-selector label{
    margin-left: 8px;
}

.input_theme{
    margin-top: 8px;
}

.form__button{
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 4px;
    margin-right: 10px;
    border: none;
}

.button--primary{
    background-color: var(--btn-primary-bg-color);
    color: var(--btn-primary-text-color);
    width: 115px;
}

.button--primary:focus{
    outline: var(--border-color);
}

.button--primary:hover{
   filter: brightness(150%);
}

.button--secondary{
    background-color: var(--btn-secondary-bg-color);
    color: var(--btn-secondary-text-color);
    width: 60px;
}

.button--secondary:focus{
    outline: var(--border-color);
}

.button--secondary:hover{
    filter: brightness(150%);
}

.footer{
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 986px;
    height: 256px;
    background-image: url(image/footerImg.png);
}

.footer__text{
    font-family: 'Montserrat', sans-serif;
    align-self: flex-end;
    color: var(--text-color);
    margin-bottom: 15px;
}

.footer__link{
    color: var(--link-footer-color);
}